@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --navy: #1B263B;
  --orange: #FF6B35;
  --bg: #F8F9FA;
  --nav-height: 60px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	overflow-x: hidden;
}

body{
	display: flex;
        flex-direction: column;
	background-color: var(--bg);
	width: 100%;
	height: 100%;
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}

.wrapper {
	max-width: 1600px;
	margin: 0 auto;
	min-height: 100vh;
}

.layout {
  	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

.main {
  	flex: 1:
}
